* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: rgb(7, 11, 146);
    color: white;
    text-align: left;
    overflow: hidden;
}

header logo {
    position: relative;
    left: 2%;
    top: 4%;
    height: 50%;
    width: 98%;
    padding-top: 0.2em;
    display: block;
    overflow: hidden;
}

logo img {
    max-width: 100%;
    display: block;
    max-height: 3em;
}

body {
    background-color: rgb(146, 233, 255);
}

main {
    width: 80%;
    position: relative;
    left: 10%;
    background-color: rgb(240, 252, 255);
    box-shadow: 5px 0 5px rgba(150, 150, 150, 30), -5px 0 5px rgba(150, 150, 150, 30);
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1% 4%;
}



a:visited {
    color: rgb(0, 3, 102);
}

a {
    color: rgb(24, 31, 240);
}

nav a,
mobilenav a {
    text-decoration: none;
    font-weight: bold;
    color: white !important
}

.wip {
    color: rgb(151, 151, 151) !important;
    text-decoration: line-through;
}

.divider {
    height: 2px;
}

socialnav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 3%;
    padding: 2% 4%;
}

socialnav a {
    text-decoration: none;
    font-size: small;
}

maincontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: rgb(240, 252, 255);
    color: black;
    padding: 2% 4%;
    min-height: 50vh;
}

#disclaimer {
    padding: 1% 4%;
    background: red;
    box-shadow: 2px 2px;
}

footer h5 {
    padding: 2% 4%;
}


p {
    padding: 1em 0;
    line-height: 1.7em;
}

details {
    line-height: 1.7em;
}

ul {
    text-indent: 1em;
    padding: 0.5em 0;
    left: 4%;
    position: relative;
}

li {
    padding: 0.3em 0;
    width: 85%;
    line-height: 1.6em;
}

quote,
details {
    position: relative;
    left: 2%;
    max-width: 90%;
    background: rgb(200, 200, 200);
    box-shadow: 3px 3px black;
    padding: 1em;
}

details>summary {
    padding-bottom: 0.5em;
}

qcaption {
    position: relative;
    left: 2%;
    margin-top: 0.5em;
    color: rgb(30, 30, 30);
    font-style: italic;
}

yell {
    font-size: xx-large;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    padding: 0.7em 0 0.2em 0;
}

mobilenav {
    display: none;
}

ul {
    line-height: 0.2em;
}

signed {
    text-align: right;
    font-size: 1.4em;
}

smaller {
    font-size: 0.7em;
    font-style: italic;
}

@media (max-width: 700px) {
    main {
        width: 94%;
        left: 3%;
    }

    nav {
        display: none;
    }

    mobilenav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: center;
        gap: 0px;
    }

    navrow {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        max-height: 30vh;
        justify-content: space-around;
    }

    navcol {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100%;
    }

    mobilenav a {
        text-align: center;
        padding: 0.3em 0;
        font-size: larger;
        display: none;
    }

    button {
        background-color: rgba(0, 0, 0, 0);
        font-weight: bold;
        color: white;
        height: 2em;
        font-size: larger;
        border: none;
        width: 100%;
    }

    .expanded {
        display: block !important;
    }
}